{% extends "layout/column.html" %}
{% block title %}注册{% endblock %}
{% block layout_css %}
  <style type="text/css">

  </style>
{% endblock %}

{% block layout_js %}
  <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

  $("#signup-form").validate({
    //ignore: ".ignore",
    //debug: true,

    rules: {
        account: {
            required: true
        },
        password: "required",
        password_confirm: {
            required: true,
            equalTo: "#password"
        }
    },

    messages: {
        account: {
            required: "请输入账户名"
        },
        password: "请输入密码",
        password_confirm: {
            required: '请确认密码',
            equalTo: '两次密码不一致'
        }
    },
    submitHandler: function(form) {
      $(form).ajaxSubmit({
        dataType: 'json',
        beforeSubmit: function(){
          //alert('before'); 
        },
        success: function(data){
          if(data.success){
            window.location.href=data.redirect_to;
          }else{
            alert(data.message);
          }
        }
      });
    }
   });

{% endblock %}

{% block content %}
    <div class="" style="">
      <h2 class="page-header"><span class="glyphicon glyphicon-user"></span>用户注册</h2>
      <form method="POST" action="{{ url_for('main.register') }}" class="form-horizontal" id="signup-form">
        {{ form.csrf_token }}

        <div class="form-group">
          <div class="col-md-5">
                {{ form.account(class="form-control", placeholder="账户") }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-5">
            {{ form.password(class="form-control", placeholder="密码") }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-5">
            {{ form.password_confirm(class="form-control", placeholder="确认密码") }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-5">
             <button type="submit" class="btn btn-primary">注册</button>
          </div>
        </div>								
      </form>
    </div>
{% endblock %}
