{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">

    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}
    $('.status-handle').on('click', 'a', function(){
        var id = $(this).data('id');
        var evt = $(this).data('evt');
        var url = "{{ url_for('admin.image_set_status') }}";
        $.post(url, {id: id, status: evt}, function(rs){
            if (rs.success) {
                var statusLabel = evt == 0 ? false : true
                var render = phenix.ajax_render('#admin-status-label-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-label').html(render)
                var render = phenix.ajax_render('#admin-status-handle-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-handle').html(render)
            }else{
                alert(rs.message)
            }
        })
    });
    $(function () {
            $('#qiniu').click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '{{ url_for('admin.image_qiniu') }}',
                        success: function (callback) {
                            alert(callback.message)
                        }
                    })
            })
            $('#location').click(function () {
                    $.ajax({
                        type: 'GET',
                        url: '{{ url_for('admin.image_location') }}',
                        success: function (callback) {
                            alert(callback.message)
                        }
                    })
            })
        });

{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.image_list') }}">全部</a></li>
                <li role="presentation" class="{{ meta.css_enable }}"><a href="{{ url_for('admin.image_list', status=1) }}">启用</a></li>
                <li role="presentation" class="{{ meta.css_disable }}"><a href="{{ url_for('admin.image_list', status=-1) }}">禁用</a></li>
                <li role="presentation" class="{{ meta.css_deleted }}"><a href="{{ url_for('admin.image_list', deleted=1) }}">回收站</a></li>
            </ul>
        </div>
    </div>

    <div class="fl">
        <div class="form-inline">
            <div class="form-group">
                <a href="{{ url_for('admin.image_submit') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> 创建
                </a>
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.image_delete') }}" class="btn btn-default ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>

    <!--
    <button type="button" class="btn btn-default" id="qiniu">上传七牛云</button>
    <button type="button" class="btn btn-default" id="location">下载至本地</button>
    -->

    <div class="fr">

        <form class="navbar-form navbar-left options-bar" role="search" action="{{ url_for('admin.image_list') }}" method="GET" id="search-form">
          <input type="hidden" name="status" value="{{ request.args.get('status', '') }}" />
          <input type="hidden" name="kind" value="{{ request.args.get('kind', '') }}" />
          <input type="hidden" name="deleted" value="{{ request.args.get('deleted', '') }}" />
          <div class="form-group">
            <input class="form-control input-sm" type="text" name="q" value="{{ request.args.get('q', '') }}" class="form-control" placeholder="关键字...">
          </div>

          <div class="form-group">
              <select name="t" class="form-control input-sm">
                  <option value="1" {% if request.args.get('t') == '1' %}selected="selected"{%endif%}>ID</option>
                  <option value="2" {% if request.args.get('t') == '2' %}selected="selected"{%endif%}>渠道</option>
                  <option value="3" {% if request.args.get('t') == '3' %}selected="selected"{%endif%}>来源</option>
              </select>
          </div>

          <button type="submit" class="btn btn-default btn-sm">搜索</button>
        </form>
    </div>




    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>       
        </th>
        <th>缩略图</th>
        <th>图片信息</th>
        <th class="col-md-1">渠道</th>
        <th class="col-md-1">爬手</th>
        <th class="col-md-1">创建时间</th>
        <th>状态</th>
        <th class="col-md-1">操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                  {% if d.thumb %}
                    <img src="{{ d.thumb.sm }}" width="100" />
                  {%else%}
                    <img src="{{ d.img_url }}" width="100" />
                  {%endif%}
                </td>
                <td>
                  <p>ID: {{ d._id }}</p>
                  {% if d.title %}<p>标题: {{ d.title }}</p>{% endif %}
                  {% if d.name %}<p>图片名: {{ d.name }}</p>{% endif %}
                  {% if d.img_url %}<p>原图地址: {{ d.img_url }}</p>{% endif %}
                  {% if d.path %}<p>七牛路径: {{ config.get('ASSET_URL') }}/{{ d.path }}</p>{% endif %}
                  {% if d.local_path %}<p>本地路径: {{ d.local_path }}/{{ d.local_name }}</p>{% endif %}
                  {% if d.tags_s %}<p>标签: {{ d.tags_s }}</p>{% endif %}
                  {% if d.brand_id %}<p>品牌ID: {{ d.brand_id }}</p>{% endif %}
                  {% if d.prize_id %}<p>奖项ID: {{ d.prize_id }}</p>{% endif %}
                </td>
                <td>{{ d.channel }}</td>
                <td>{{ d.evt_label }}</td>
                <td>{{ d.created_at | date("%Y-%m-%d") }}</td>
                <td>
                    <p class="status-label">
                        {% if d.status==0 %}
                            <span class="label label-danger">禁用</span>
                        {%endif%}
                        {% if d.status==1 %}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </p>
                </td>
                <td>
                    <p class="status-handle">
                        {% if d.status==0 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="1">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="0">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.image_submit', id=d._id) }}">编辑</a>
                        |
                        {% if d.deleted == 0 %}
                            <a href="{{ url_for('admin.image_delete', ids=d._id) }}" class="confirm-request">删除</a>
                        {%endif%}
                        {% if d.deleted == 1 %}
                            <a href="{{ url_for('admin.image_recovery', ids=d._id) }}" class="confirm-request">恢复</a>
                        {%endif%}
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}
    <div class="pager-total">共 {{ meta.total_count }} 条记录</div>

</div>

{% endblock %}

{% block templates %}
  {% include "mustache/admin_status.mustache" %}
{% endblock %}

