{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='uploadifive/uploadifive.css') }}" type="text/css" />
    <style type="text/css">

    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='uploadifive/jquery.uploadifive.min.js') }}"></script>
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

$("#item-form").validate({
  //ignore: ".ignore",
  //debug: true,

  rules: {
      name: {
          required: true,
      }
  },

  messages: {
      name: {
          required: "请输入名称",
      }

  },
  submitHandler: function(form) {
    $(form).ajaxSubmit({
      dataType: 'json',
      beforeSubmit: function(){
        //alert('before'); 
      },
      success: function(data){
        if(data.success){
          window.location.href=data.redirect_to;
        }else{
          alert(data.message);
        }
      }
    });
  }
 });

// 上传
$('#upload_file').uploadifive({
    'auto' : true,
    'uploadScript' : '/upload',
    'formData': {
        'target_id': '{{ meta.data._id|default('') }}',
        'asset_type': 2,
        'user_id': '{{ g.user._id }}',
        'callback_type': 1,
        'evt': 2,
        'csrf_token': '{{ csrf_token() }}'
    },
    'fileObjName' : 'file',
    'buttonText' : '上传图片',
    'queueID' : 'tip-queue',
    'fileType' : 'image/*',
    'multi' : true,
    'fileSizeLimit'   : 5242880,
    'uploadLimit' : 10,
    'queueSizeLimit'  : 10,   
    'removeCompleted' : true,
    'onUploadComplete' : function(file, data) {
        var obj = JSON.parse(data);
        if (obj.code != 200) {
            alert(obj.message);
        } else {
            $('#asset_items').find('img').attr('src', obj.data.thumb_url);
            $('#asset_items').find('p.asset-name').text( obj.data.name);
            $('input[name=path]').val(obj.data.path);
            $('input[name=name]').val( obj.data.name);
        }
    },
    onCancel : function(file) {
        /* 注意：取消后应重新设置uploadLimit */
        //$data	= $(this).data('uploadifive'),
        //settings = $data.settings;
        //settings.uploadLimit++;
        //alert(file.name + " 已取消上传~!");
    },
    onFallback : function() {
        alert("该浏览器无法使用!");
    },
    onUpload : function(file) {
    },
});

{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.image_list') }}">全部</a></li>
                <li role="presentation" class="{{ meta.css_enable }}"><a href="{{ url_for('admin.image_list', status=1) }}">启用</a></li>
                <li role="presentation" class="{{ meta.css_disable }}"><a href="{{ url_for('admin.image_list', status=-1) }}">禁用</a></li>
                <li role="presentation" class="{{ meta.css_deleted }}"><a href="{{ url_for('admin.image_list', deleted=1) }}">回收站</a></li>
            </ul>
        </div>
    </div>

    <div class="ph-form">
        <form class="form-horizontal" method="POST" action="{{ url_for('admin.image_save') }}" id="item-form">
            {{ form.csrf_token }}
            <input type="hidden" name="id" value="{{ meta.data._id|default('') }}" />
            <input type="hidden" name="referer_url" value="{{ meta.referer_url }}" />
            <input type="hidden" name="cover_id" id="cover_id" value="{{ meta.data.cover_id|default('') }}" />
            <input type="hidden" name="path" value="{{ meta.data.path|default('') }}" />
            <input type="hidden" name="name" value="{{ meta.data.name|default('') }}" />

            <div class="form-group">
                <div class="col-xs-4">
                    <label for="name">上传图片</label>
                    <input class="full-width has-padding has-border" id="upload_file" type="file" name="file" />
                    <div id="tip-queue"></div>
                </div>
            </div>
            <div id="asset_items" class="row">
                  <div class="col-xs-2 item">
                      <div class="thumbnail">
                          {% if meta.data.thumb %}
                              <img src="{{ meta.data.thumb.sm }}" alt="{{ meta.data.name }}">
                          {%else%}
                              <img src="{{ meta.data.img_url }}" alt="{{ meta.data.name }}">
                          {%endif%}
                          <div class="caption">
                            <p class="asset-name">{{ meta.data.name }}</p>
                          </div>
                      </div>
                  </div>
            
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <label for="title">名称</label>
                    <input type="text" name="title" class="form-control" value="{{ meta.data.title }}" placeholder="标题">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="brand_id">所属品牌ID</label>
                    <input type="text" name="brand_id" class="form-control" value="{{ meta.data.brand_id }}" placeholder="所属品牌ID">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="designer">设计师</label>
                    <input type="text" name="designer" class="form-control" value="{{ meta.data.designer }}" placeholder="设计师">
                </div>
                <div class="col-xs-8">
                    <label for="company">公司</label>
                    <input type="text" name="company" class="form-control" value="{{ meta.data.company }}" placeholder="公司">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="img_url">文件地址</label>
                    <input type="text" name="img_url" class="form-control" value="{{ meta.data.img_url }}" placeholder="文件地址">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="tags">标签</label>
                    <input type="text" name="tags" class="form-control" value="{{ meta.data.tags_s }}" placeholder="标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="color_tags">颜色标签</label>
                    <input type="text" name="color_tags" class="form-control" value="{{ meta.data.color_tags_s }}" placeholder="颜色标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="material_tags">材质标签</label>
                    <input type="text" name="material_tags" class="form-control" value="{{ meta.data.material_tags_s }}" placeholder="材质标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="technique_tags">工艺标签</label>
                    <input type="text" name="technique_tags" class="form-control" value="{{ meta.data.technique_tags_s }}" placeholder="工艺标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="brand_tags">品牌标签</label>
                    <input type="text" name="brand_tags" class="form-control" value="{{ meta.data.brand_tags_s }}" placeholder="品牌标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="style_tags">风格标签</label>
                    <input type="text" name="style_tags" class="form-control" value="{{ meta.data.style_tags_s }}" placeholder="风格标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="other_tags">其它标签</label>
                    <input type="text" name="other_tags" class="form-control" value="{{ meta.data.other_tags_s }}" placeholder="其它标签">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <label for="channel">渠道</label>
                    <input type="text" name="channel" class="form-control" value="{{ meta.data.channel }}" placeholder="渠道">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="remark">备注</label>
                    <textarea class="form-control" name="remark" rows="3">{{ meta.data.remark|default('') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="info">信息</label>
                    <textarea class="form-control" name="info" rows="3">{{ meta.data.info|default('') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <a href="{{ url_for('admin.brand_list') }}" class="btn btn-default">取消</a>
                    <button type="submit" id="submit_btn" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}

