{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">

    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>
    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <!--<li role="presentation" class="{{ meta.css_all }}"><a href="">全部</a></li>-->
            </ul>
        </div>
    </div>



</div>


{% endblock %}
