{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}
    $('.status-handle').on('click', 'a', function(){
        var id = $(this).data('id');
        var evt = $(this).data('evt');
        var url = "{{ url_for('admin.design_record_set_status') }}";
        $.post(url, {id: id, status: evt}, function(rs){
            if (rs.success) {
                var statusLabel = evt == 0 ? false : true
                var render = phenix.ajax_render('#admin-status-label-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-label').html(render)
                var render = phenix.ajax_render('#admin-status-handle-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-handle').html(render)
            }else{
                alert(rs.message)
            }
        })
    });

    $('.score-detail').popover({
        html: true,
        trigger: 'hover',
        placement: 'bottom',
        content: function() {
            var id = $(this).data('id');
            var type = $(this).data('type');
            var o = '#item-' + id + '-' + type;
            return $(o).html();
        }
    })


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_record_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="fl">
        <div class="navbar-form navbar-left options-bar">
            <div class="form-group">
                <a href="{{ url_for('admin.design_record_delete') }}" class="btn btn-default btn-sm ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>

    <div class="fr">
        <form class="navbar-form navbar-left options-bar" role="search" action="{{ url_for('admin.design_record_list') }}" method="GET" id="search-form">
          <input type="hidden" name="status" value="{{ request.args.get('status', '') }}" />
          <div class="form-group">
              <select name="mark" class="form-control input-sm">
                  <option value="" {% if request.args.get('mark') == '' %}selected="selected"{%endif%}>--配置--</option>
                  {% for c in meta.design_conf %}
                  <option value="{{ c.mark }}" {% if c.mark == request.args.get('mark') %}selected="selected"{%endif%}>{{ c.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
              <select name="is_d3in" class="form-control input-sm">
                  <option value="0" {% if request.args.get('is_d3in') == '0' %}selected="selected"{%endif%}>--入驻--</option>
                  <option value="-1" {% if request.args.get('is_d3in') == '-1' %}selected="selected"{%endif%}>否</option>
                  <option value="1" {% if request.args.get('is_d3in') == '1' %}selected="selected"{%endif%}>是</option>
              </select>
          </div>
          <div class="form-group">
            <input class="form-control input-sm" type="text" name="no" value="{{ request.args.get('no', '') }}" class="form-control" placeholder="期数">
          </div>
          <div class="form-group">
            <input class="form-control input-sm" type="text" name="number" value="{{ request.args.get('number', '') }}" class="form-control" placeholder="编号">
          </div>
          <div class="form-group">
              <select name="sort" class="form-control input-sm">
                  <option value="0" {% if request.args.get('sort') == '0' %}selected="selected"{%endif%}>最新</option>
                  <option value="1" {% if request.args.get('sort') == '1' %}selected="selected"{%endif%}>平均分</option>
                  <option value="2" {% if request.args.get('sort') == '2' %}selected="selected"{%endif%}>基础运作力</option>
                  <option value="3" {% if request.args.get('sort') == '3' %}selected="selected"{%endif%}>商业决策力</option>
                  <option value="4" {% if request.args.get('sort') == '4' %}selected="selected"{%endif%}>创新交付力</option>
                  <option value="5" {% if request.args.get('sort') == '5' %}selected="selected"{%endif%}>品牌溢价力</option>
                  <option value="6" {% if request.args.get('sort') == '6' %}selected="selected"{%endif%}>客观公信力</option>
                  <option value="7" {% if request.args.get('sort') == '7' %}selected="selected"{%endif%}>风险应激力</option>

              </select>
          </div>

          <button type="submit" class="btn btn-default btn-sm">搜索</button>
        </form>
    </div>


    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>
        </th>
        <th>标识/期</th>
        <th>LOGO</th>
        <th>公司信息</th>
        {% for c in meta.design_dimension_options %}
        <th>{{ c.name }}</th>
        {%endfor%}
        <th>排行</th>
        <th>总/平均分</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" class="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>{{ d.mark }}[{{ d.no }}]</td>
                <td>
                    {% if d.design_company and d.design_company.logo_url %}
                        <img src="{{ d.design_company.logo_url }}" width="80" />
                    {% else %}
                        <img src="{{ url_for('static', filename='images/avatar_100.png') }}" width="80" />
                    {% endif %}
                </td>
                <td>
                    <p>名称: <a href="/admin/design_company/submit?id={{ d.design_company._id }}" target="_blank">{{ d.design_company.name }}</a></p>
                    <p>编号: {{ d.number }}</p>
                    <p>入驻铟果: {% if d.design_company.d3ing_id %}是{%else%}否{%endif%}</p>
                    <p>简介: {{ d.design_company.description }}</p>
                </td>

                {% for c in meta.design_dimension_options %}
                  <td>
                    <span class="badge score-detail" data-toggle="popover" title="{{ c.name }}[{{ d[c.field] }}]" data-id="{{ d._id }}" data-type="{{ c.mark }}" style="background-color: {{ c.color }}">{{ d[c.average] }}</span>
                      <div id="item-{{ d._id }}-{{ c.mark }}" style="display:none;">
                        {% for f in d[c.group] %}
                          {% for g in meta.design_fields_label_options %}
                            {% if g.field == f %}
                              <p>{{ g.name }}: {{ d[c.group][f] }}</p>
                            {%endif%}
                          {%endfor%}
                        {%endfor%}
                      </div>
                  </td>
                {%endfor%}

                <td>{{ d.rank }}</td>
                <td><span class="badge">{{ d.total_score }}/{{ d.ave_score }}</span></td>
                <td>
                    <p class="status-label">
                        {% if d.status==0 %}
                            <span class="label label-danger">禁用</span>
                        {%endif%}
                        {% if d.status==1 %}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </p>
                </td>
                <td>
                    <p>{{ d.created_at | date("%Y-%m-%d") }}</p>
                </td>
                <td>
                    <p class="status-handle">
                        {% if d.status==0 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="1">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="0">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.design_record_submit', id=d._id) }}">编辑</a>
                        |
                        <a href="{{ url_for('admin.design_record_delete', ids=d._id) }}" class="confirm-request">删除</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}

</div>

{% endblock %}

{% block templates %}
  {% include "mustache/admin_status.mustache" %}
{% endblock %}

