.admin-content-body{
    min-height: 650px;
    background-color: #f5f5f5;
    padding: 10px 0 10px 0;
    width: 100%!important;
}

/**
 * Admin siteBar  Start
 */
.site-bar{padding-left:0px;}
.res_mem_menu_top{display:block; height:33px; line-height:33px; padding-left:12px; border:1px solid #006600; background:#019f00; background:-webkit-gradient(linear, 0 0, 0 100%, from(#019f00), to(#007a01)); background:-moz-linear-gradient(top, #019f00, #007a01); background:-o-linear-gradient(top, #019f00, #007a01); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#019f00, endColorstr=#007a01, GradientType=0); color:#fff!important; font-size:14px;}
.res_mem_menu_border{border:solid #ccc; border-width:0 1px; background-color:#FFF;}
.res_mem_menu_title{border-bottom:1px solid #ccc; background:#f9f9f9; background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f1f1f1)); background:-moz-linear-gradient(top, #f9f9f9, #f1f1f1);  background:-o-linear-gradient(top, #f9f9f9, #f1f1f1); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1, GradientType=0); position:relative; cursor:pointer; *zoom:1;}
.res_mem_menu_link{padding-left:12px; line-height:30px; border-bottom:1px solid #fff; color:#333;font-size: 0.8em;font-weight:bold;}
.res_mem_list_link{display:block; height:24px; line-height:24px; padding-left:25px; margin:2px 2px 0; color:#333;font-size: 0.8em;}
.res_mem_list_link:hover{background-color:#f5f5f5;text-decoration:none;}
.res_mem_list_link.active{background-color:#e5e5e5;}
.res_mem_list_hl{padding-left:30px; background-color:#f5f5f5; color:#800; font-weight:bold;}
.res_mem_opt_icon{position:absolute; right:10px; top:6px;}
.res_mem_menu_l{padding:0px;margin:0px;}
.pl15{padding-left:15px}
.bbc{border-bottom:1px solid #ccc; display:none;}
.pb5{padding-bottom:5px}
/**
 * Admin siteBar  End
 */

/**
 * Admin banner sub Start
 */
.navbar.nav-stab {
	width: 100%;
    height: 50px;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    background-clip: padding-box;
}

.border-n{
	border:none !important;
}
.navbar-default .navbar-nav.nav-list>li>a {
    font-size: 14px;
    line-height: 50px;
    position: relative;
    padding: 0 20px;
}
.navbar-default .navbar-nav.nav-list>.active>a, .navbar-default .navbar-nav.nav-list>.active>a:focus, .navbar-default .navbar-nav.nav-list>.active>a:hover, .navbar-default .navbar-nav.nav-list>li>a:focus, .navbar-default .navbar-nav.nav-list>li>a:hover {
    color: #f36;
    background-color: transparent;
}
.navbar-default .navbar-nav.nav-list>.active>a::before, .navbar-default .navbar-nav.nav-list>.active>a:focus::before, .navbar-default .navbar-nav.nav-list>.active>a:hover::before, .navbar-default .navbar-nav.nav-list>li>a:focus::before, .navbar-default .navbar-nav.nav-list>li>a:hover::before {
    content: '';
}
.navbar-default .navbar-nav.nav-list>li>a::before {
    position: absolute;
    width: 70%;
    height: 1px;
    background: #f36;
    bottom: -1px;
    left: 15%;
    content: none;
}
/**
 * Admin banner sub End
 */

.ph-title{font-size: 1em;font-weight:bold;margin-bottom:15px;}
.ph-list{margin-top:20px;background-color:#fff;}
.ph-form{margin-top:20px;background-color:#fff;padding:20px 10px 10px 10px;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size:12px;
    color:#444;
}
.table tr td, .table tr td p, .table tr td a {
    font-size: 10px;
    color: #666;
}

.form-group label {
    font-size: 12px;
    font-weight: 500;
}


/**
 * options-bar
 */
.options-bar {
    margin: 0;
    padding: 0 0 10px 0;
}


