body{line-height:1.4;color:#333;height:100%;}
body,input,textarea,select{font-size:12px;font-family:Arial,sans-serif}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form{margin:0}
ul,ol{padding-left:0;list-style-type:none}
h4,h5,h6{font-size:1em}
img{border:0}
a{text-decoration:none}
a:hover{text-decoration:underline}

[class*="col-"]{
  padding: 5px;
}

.alert {
  margin-bottom: 0;
}

.header{

}

.content-body{
    min-height: 650px;
}


.footer{
    width: 100%;
    height: 100px;
    color: #fff;
    text-align:center;
    background-color: #535353;
    padding: 10px;
}

label.error{
    color: red;
}

p, span {
    word-wrap: break-word;
}

form .description {
    color: #9DA6AB;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.clear {
    clear: both;
}

#asset_items .set-cover.active {
  color: red;
}

/**
 * 分页
 */
nav ul.pagination {
    float: left;
}
.pager-total {
    float: left;
    margin-left: 20px;
    line-height: 5;
}

.public_img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.line-clamp-1 {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.line-clamp-2 {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.navbar-default {
    background: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ed3a4a;
    background: #ffffff;
}

