body{line-height:1.4;color:#333;height:100%;}
body,input,textarea,select{font-size:12px;font-family:Arial,sans-serif}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form{margin:0}
ul,ol{padding-left:0;list-style-type:none}
h4,h5,h6{font-size:1em}
img{border:0}
a{text-decoration:none}
a:hover{text-decoration:underline}

.header{

}

.content-body{
    min-height: 650px;
}


.footer{
    width: 100%;
    height: 100px;
    color: #fff;
    text-align:center;
    background-color: #535353;
    padding: 10px;
}

label.error{
    color: red;
}

form .description {
    color: #9DA6AB;
    font-size: 0.8em;
    margin-top: 0.5em;
}
