{% extends "layout/column.html" %}
{% block title %}首页{% endblock %}
{% block layout_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugin/swiper-3.4.1.min.css') }}" type="text/css" />
<style type="text/css">
    .mt-20 a {
        color: #ffffff;
    }
    .mt-20 a:hover {
        color: #ffffff;
        text-decoration: none;
    }
    .form-group {
        color: #ffffff;
    }

    .wrap_search {
        height: 250px;
        background: url("{{ url_for('static', filename='images/support-background.jpg') }}");
    }
    .search {
        width: 750px;
        margin-top: 50px;
    }

    .search label {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .search input {
        height: 40px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .mt-20 span {
        margin: 0 10px;
    }

    .tab {
        margin-top: 20px;
        border-bottom: 1px solid #e4e5e7
    }
    .nav-pills>li {
        width: 90px;
        text-align: center;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #ff3366;
        background-color: #ffffff;
        border-bottom: 1px solid #ff3366;
        border-radius: 0;
    }
    .nav>li>a:focus, .nav>li>a {
        color: #5d6266;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: #ffffff;
        color: #ff3366;
    }

    .prompt {
        margin: 20px 0;
    }

    .prompt span {
        font-size: 18px;
    }

    .tab_button {
        display: flex;
    }

    .tab_button button {
        background: #ffffff;
        width: 115px;
        height: 34px;
        color: #ff3366;
        border: 2px solid #ff3366;
        outline:none;
    }

    .tab_button button:hover {
        background: #ff3366;
        color: #ffffff;
    }
    .tab_button button.active {
        color: #ffffff;
        background: #ff3366;
    }

    /*列表*/
    .list {
        margin-top: 50px;
    }

    .d_j {
        display: flex;
        justify-content: space-between;
    }

    .content {
        flex: 1;
        margin-left: 20px;
    }

    .content_type {
        color: #ffffff;
        border-radius: 10px;
        margin-left: 10px;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        background: #ff3366;
        padding: 5px;
        line-height: 1;
    }

    .title {
        color: rgba(112,123,135,.92);
        font-size: 18px;
    }

    .list_img img {
        width: 175px;
        height: 130px;
    }

    .line-clamp-1 {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .line-clamp-2 {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .details {
        font-size: 16px;
        color: rgba(0,0,0,.87);
        margin-top: 5px;
        max-height: 48px;
    }

    .d_j_b {
        display: flex;
    }

    .d_j_b p{
        max-width: 850px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt5 p {
        font-size: 16px;
    }

    .mt5 span {
        color: #666666;
        margin-left: 10px;
    }

    .text-c {
        text-align: center;
    }
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/swiper-3.4.1.jquery.min.js') }}"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block jquery %}

{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div class="wrap">
    <div class="wrap_search">
        <div class="container">
            <div class="search">
                <form action="">
                    <div class="form-group">
                        <label for="search_text">搜索</label>
                        <input type="text" class="form-control" id="search_text" placeholder="请输入搜索内容...">
                        <div class="mt-20">
                            <a href=""><span>杯子</span></a>
                            <a href=""><span>杯子</span></a>
                            <a href=""><span>杯子</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tab">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{{ url_for('main.image_list') }}">全部</a></li>
                <li role="presentation" class="active"><a href="{{ url_for('main.image_product') }}">产品</a></li>
                <li role="presentation"><a href="{{ url_for('main.image_topic') }}">话题</a></li>
            </ul>
        </div>
        <div class="prompt">
            <span>你没有输入足够的关键词，请输入要搜索的短语</span><br>
            <span>搜索内容 “智能睡眠灯” , 找到约 2 条结果</span>
        </div>
        <div class="tab_button">
            <a href=""><button class="active">最新</button></a>
            <a href=""><button>相关度</button></a>
        </div>

        <div class="list">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d_j">
                        <div class="list_img">
                            <img src="https://p4.taihuoniao.com/asset/181128/5bfdfcdf20de8d5e058b5156-1" alt="">
                        </div>
                        <div class="content">
                            <div class="title line-clamp-1 d_j_b">
                                <p>屎味不再是烦恼，我家猫咪就爱它--安美瑞X8空气净化器体验<span class="content_type">话题</span></p>
                            </div>
                            <p class="details line-clamp-2">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊哎哎哎</p>
                            <div class="mt5">
                                <p>标签:<span>123</span></p>
                                <p>奖项:<span>456</span></p>
                                <p>品牌:<span>789</span></p>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d_j">
                        <div class="list_img">
                            <!--<img src="https://p4.taihuoniao.com/asset/181128/5bfdfcdf20de8d5e058b5156-1" alt="">-->
                        </div>
                        <div class="content">
                            <div class="title line-clamp-1 d_j_b">
                                <p>屎味不再是烦恼，我家猫咪就爱它--安美瑞X8空气净化器体验<span class="content_type">话题</span></p>
                            </div>
                            <p class="details line-clamp-2">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊哎哎哎</p>
                            <div class="mt5">
                                <p>标签:<span>123</span></p>
                                <p>奖项:<span>456</span></p>
                                <p>品牌:<span>789</span></p>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="text-c">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
