{% extends "layout/column.html" %}
{% block title %}素材库{% endblock %}
{% block layout_css %}
<style type="text/css">
    @media (max-width: 768px) {
        .priduct_right {
            margin-left: 0 !important;
            margin-top: 10px;
        }
    }

    @media (max-width: 992px) {
        .priduct_right {
            margin-left: 0 !important;
        }
    }



    .breadcrumb a {
        color: #999999;
        text-decoration: none;
    }

    .breadcrumb a.active {
        font-family: PingFangSC-Regular;
        color: #222222;
    }
    .content-body {
        min-height: auto;
    }

    [class*="col-"] {
        padding: 0;
    }

    body {
        background-color: #f8f8f8;
    }

    .content {
        max-width: 1140px;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    .breadcrumb {
        background-color: #f8f8f8;
        border-radius: 0;
        margin-bottom: 0;
        padding: 8px 0;
    }

    .product {
        width: 100%;
        position: relative;
        overflow: hidden;
        background: #ffffff;
        text-align: center;
    }

    .product_details {
        margin-top: 10px;
        min-height: 510px;
        display: flex;
    }

    .product_param {
        /*width: 500px;*/
        padding: 20px;
        background: #ffffff;
        border: 1px solid #E6E6E6;
    }


    .public_li {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #E6E6E6;
        padding: 10px;
    }

    .public_li p {
        font-family: PingFangSC-Semibold;
        color: #222222;
        font-size: 14px;
        width: 50px;
    }

    .public_li p img {
        width: 24px;
    }

    .public_li span {
        flex: 1;
        color: #999999;
        font-size: 14px;
        margin-left: 10px;
    }

    .priduct_right {
        /*width: 290px;*/
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .product_company {
        min-height: 152px;
        padding: 20px;
        background: #ffffff;
        border: 1px solid #E6E6E6;
    }

    .product_company ul li {
        border: none;
    }

    .award {
        padding: 30px;
        min-height: 220px;
        margin-top: 10px;
        background: #ffffff;
        border: 1px solid #E6E6E6;
    }

    .award ul li p {
        width: 30px;
    }

    .address {
        padding: 30px;
        min-height: 118px;
        margin-top: 10px;
        background: #ffffff;
        border: 1px solid #E6E6E6;
        display: flex;
        flex-direction: column;
    }

    .address p {
        font-family: PingFangSC-Semibold;
        color: #222222;
        font-size: 14px;
    }

    .address span {
        color: #999999;
        font-size: 14px;
        flex: 1;
    }

    .m_b {
        font-family: PingFangSC-Semibold;
        margin-bottom: 10px;
    }

    .public_ul li button {
        width: 55px;
        height: 18px;
        position: relative;
        border-radius: 4px;
        border: none;
    }

    .public_ul li button:hover .b_img {
        opacity: 1;
        display: block;
    }

    .b_img {
        position: absolute;
        top: -120px;
        left: -65px;
        width: 185px;
        height: 112px;
        background: url("{{ url_for('static', filename='images/t@2x.png') }}");
        background-size: cover;
        opacity: 0;
        transition: all .3s ease;
        padding: 5px 0px 10px 10px;
        display: none;
    }

    .b_img p {
        width: auto;
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        line-height: 1.2;
        margin: 3px;
    }

    .b_img span {
        color: #ffffff;
        font-size: 12px;
        margin-left: 0;
    }

    .award .public_li {
        border: none;
    }
    .product_company ul li {
        margin: 10px;
    }
    .product_company ul li p {
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        color: #222222;
    }

    .product_company ul li span {
        font-size: 14px;
        color: #999999;
        margin-top: 5px;
        display: inline-block;
    }
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">

</script>
{% endblock %}
{% block jquery %}
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}
<div class="wrap">
    <div class="content">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.image_list') }}">素材库</a></li>
            <li>{{ form.title }}</li>
        </ol>
        <div class="product">
            {% if form.thumb %}
                <img class="" src="{{ form.thumb.bi }}" alt="{{ form.title }}">
            {%endif%}
        </div>

        <div class="product_details">
            <div class="row container">
                <div class="col-lg-9 col-md-9">
                    <div class="product_param">
                        <ul class="product_ul public_ul">
                            {% if form.title %}
                                <li class="public_li">
                                    <p>名称:</p>
                                    <span>{{ form.title }}</span>
                                </li>
                            {%endif%}
                            {% if form.category %}
                                <li class="public_li">
                                    <p>分类:</p>
                                    <span>{{ form.category.name }}</span>
                                </li>
                            {%endif%}
                            {% if form.brand %}
                            <li class="public_li">
                                <p>品牌:</p>
                                <span>{{ form.brand.name }}</span>
                            </li>
                            {%endif%}
                            {% if form.tags %}
                            <li class="public_li">
                                <p>标签:</p>
                                <span>
                                {% for d in tags %}
                                    <span class="">{{ d }}</span>
                                {%endfor%}
                                </span>
                            </li>
                            {%endif%}
                            {% if form.material_tags %}
                            <li class="public_li">
                                <p>材质:</p>
                                <span>
                                {% for d in form.material_tags %}
                                    <span class="">{{ d }}</span>
                                {%endfor%}
                                </span>
                            </li>
                            {%endif%}
                            {% if form.technique_tags %}
                            <li class="public_li">
                                <p>工艺:</p>
                                <span>
                                {% for d in form.technique_tags %}
                                    <span class="">{{ d }}</span>
                                {%endfor%}
                                </span>
                            </li>
                            {%endif%}
                            {% if form.style_tags %}
                            <li class="public_li">
                                <p>风格:</p>
                                <span>
                                {% for d in form.style_tags %}
                                    <span class="">{{ d }}</span>
                                {%endfor%}
                                </span>
                            </li>
                            {%endif%}
                            <li class="public_li">
                                <p>颜色:</p>
                                <button type="button" style="background: red">
                                    <div class="b_img">
                                        <p>灰色</p>
                                        <p>HEX：<span>#B1B2B7</span></p>
                                        <p>RGB：<span>177，178，183</span></p>
                                        <p>CMYK：<span>0.36，0.28，0.24，0</span></p>
                                        <p>Pantone：<span>17-1564</span></p>
                                    </div>
                                </button>
                                <button type="button" style="background: blue">
                                    <div class="b_img">
                                        <p>灰色</p>
                                        <p>HEX：<span>#B1B2B7</span></p>
                                        <p>RGB：<span>177，178，183</span></p>
                                        <p>CMYK：<span>0.36，0.28，0.24，0</span></p>
                                        <p>Pantone：<span>17-1564</span></p>
                                    </div>
                                </button>
                            </li>
                            {% if form.other_tags %}
                            <li class="public_li">
                                <p>其它:</p>
                                <span>
                                {% for d in form.other_tags %}
                                    <span class="">{{ d }}</span>
                                {%endfor%}
                                </span>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="priduct_right">
                        {% if form.company or form.designer %}
                            <div class="product_company public_ul">
                                <ul>
                                    {% if form.company %}
                                      <li>
                                          <p>公司:</p>
                                          <span>{{ form.company }}</span>
                                      </li>
                                    {%endif%}
                                    {% if form.designer %}
                                        <li>
                                            <p>设计师:</p>
                                            <span>{{ form.designer }}</span>
                                        </li>
                                    {%endif%}
                                </ul>
                            </div>
                        {%endif%}
                        {% if form.prize %}
                        <div class="award public_ul">
                            <p class="m_b">所获奖项:</p>
                            <ul>
                                {% if form.prize %}
                                <li class="public_li">
                                    <p><img src="{{ url_for('static', filename='images/prize@2x.png') }}" alt=""></p>
                                    <span>{{ form.prize }}</span>
                                </li>
                                {%endif%}
                                {% if form.prize_level %}
                                <li class="public_li">
                                    <p><img src="{{ url_for('static', filename='images/level@2x.png') }}" alt=""></p>
                                    <span>{{ form.prize_level }}</span>
                                </li>
                                {%endif%}
                                {% if form.prize_time %}
                                <li class="public_li">
                                    <p><img src="{{ url_for('static', filename='images/time@2x.png') }}" alt=""></p>
                                    <span>{{ form.prize_time }}</span>
                                </li>
                                {%endif%}
                            </ul>
                        </div>
                        {%endif%}

                        {% if form.url %}
                        <div class="address public_ul border_none">
                            <p>原文地址</p>
                            <span>{{ form.url }}</span>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

