{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}
    $('.status-handle').on('click', 'a', function(){
        var id = $(this).data('id');
        var evt = $(this).data('evt');
        var url = "{{ url_for('admin.design_conf_set_status') }}";
        $.post(url, {id: id, status: evt}, function(rs){
            if (rs.success) {
                var statusLabel = evt == 0 ? false : true
                var render = phenix.ajax_render('#admin-status-label-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-label').html(render)
                var render = phenix.ajax_render('#admin-status-handle-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-handle').html(render)
            }else{
                alert(rs.message)
            }
        })
    });


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_conf_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="fl">
        <div class="navbar-form navbar-left options-bar">
            <div class="form-group">
                <a href="{{ url_for('admin.design_conf_submit') }}" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i> 创建
                </a>
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.design_conf_delete') }}" class="btn btn-default btn-sm ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>

    <div class="fr">
        <form class="navbar-form navbar-left options-bar" role="search" action="{{ url_for('admin.design_conf_list') }}" method="GET" id="search-form">
          <input type="hidden" name="status" value="{{ request.args.get('status', '') }}" />
          <div class="form-group">
            <input class="form-control input-sm" type="text" name="q" value="{{ request.args.get('q', '') }}" class="form-control" placeholder="关键字...">
          </div>

          <div class="form-group">
              <select name="t" class="form-control input-sm">
                  <option value="1" {% if request.args.get('t') == '1' %}selected="selected"{%endif%}>标识</option>
                  <option value="2" {% if request.args.get('t') == '2' %}selected="selected"{%endif%}>名称</option>
              </select>
          </div>

          <button type="submit" class="btn btn-default btn-sm">搜索</button>
        </form>
    </div>


    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>
        </th>
        <th>名称</th>
        <th>标识</th>
        <th>类型</th>
        <th>创建人ID</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" class="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>{{ d.name }}</td>
                <td>{{ d.mark }}</td>
                <td>{{ d.type }}</td>
                <td>{{ d.user_id }}</td>
                <td>
                    <p class="status-label">
                        {% if d.status==0 %}
                            <span class="label label-danger">禁用</span>
                        {%endif%}
                        {% if d.status==1 %}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </p>
                </td>
                <td>
                    <p>{{ d.created_at | date("%Y-%m-%d") }}</p>
                </td>
                <td>
                    <p class="status-handle">
                        {% if d.status==0 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="1">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="0">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.design_conf_submit', id=d._id) }}">编辑</a>
                        |
                        <a href="{{ url_for('admin.design_conf_delete', ids=d._id) }}" class="confirm-request">删除</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}

</div>

{% endblock %}

{% block templates %}
  {% include "mustache/admin_status.mustache" %}
{% endblock %}

