{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

  $("#item-form").validate({
    //ignore: ".ignore",
    //debug: true,

    rules: {
        name: "required",
        mark: "required"
    },

    messages: {
        name: "请输入名称",
        mark: "请输入标识"
    },
    submitHandler: function(form) {
      $(form).ajaxSubmit({
        dataType: 'json',
        beforeSubmit: function(){
          //alert('before'); 
        },
        success: function(data){
          if(data.success){
            window.location.href=data.redirect_to;
          }else{
            alert(data.message);
          }
        }
      });
    }
   });


   // 初始化


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_conf_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="ph-form">
        <form class="form-horizontal form-group-sm" method="POST" action="{{ url_for('admin.design_conf_save') }}" id="item-form">
            {{ form.csrf_token }}
            <input type="hidden" name="id" value="{{ meta.data._id }}" />
            <input type="hidden" name="referer_url" value="{{ meta.referer_url }}" />


<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#conf-info">
                    配置信息
                </a>
            </h4>
        </div>
        <div id="conf-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <div class="col-xs-3">
                        <label for="name">名称</label>
                        <input type="text" name="name" class="form-control input-sm" value="{{ meta.data.name }}" placeholder="">
                    </div>
                    <div class="col-xs-3">
                        <label for="mark">标识</label>
                        <input type="text" name="mark" class="form-control input-sm" value="{{ meta.data.mark }}" placeholder="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#base-info">
                    基本信息
                </a>
            </h4>
        </div>
        <div id="base-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="in_d3ing">入驻铟果</label>
                        <input type="text" name="in_d3ing" class="form-control" value="{{ meta.data.in_d3ing|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="key_personnel_count">主要人员(数量)</label>
                        <input type="text" name="key_personnel_count" class="form-control" value="{{ meta.data.key_personnel_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="shareholder_count">股东信息(数量)</label>
                        <input type="text" name="shareholder_count" class="form-control" value="{{ meta.data.shareholder_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="chage_record_count">变更记录(数量)</label>
                        <input type="text" name="chage_record_count" class="form-control" value="{{ meta.data.chage_record_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="affiliated_agency_count">分支机构(数量)</label>
                        <input type="text" name="affiliated_agency_count" class="form-control" value="{{ meta.data.affiliated_agency_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="financing_count">融资(数量)</label>
                        <input type="text" name="financing_count" class="form-control" value="{{ meta.data.financing_count|default(0) }}" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="core_team_count">核心团队(数量)</label>
                        <input type="text" name="core_team_count" class="form-control" value="{{ meta.data.core_team_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="enterprise_business_count">企业业务(数量)</label>
                        <input type="text" name="enterprise_business_count" class="form-control" value="{{ meta.data.enterprise_business_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="competitor_count">竞品信息(数量)</label>
                        <input type="text" name="competitor_count" class="form-control" value="{{ meta.data.competitor_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bid_count">招投标(数量)</label>
                        <input type="text" name="bid_count" class="form-control" value="{{ meta.data.bid_count|default(0) }}" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#business-info">
                    商业力指数
                </a>
            </h4>
        </div>
        <div id="business-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="scale_a">公司规模(20人以下)</label>
                        <input type="text" name="scale_a" class="form-control" value="{{ meta.data.scale_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="scale_b">公司规模(20-50)</label>
                        <input type="text" name="scale_b" class="form-control" value="{{ meta.data.scale_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="scale_c">公司规模(50-100)</label>
                        <input type="text" name="scale_c" class="form-control" value="{{ meta.data.scale_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="scale_d">公司规模(100-300)</label>
                        <input type="text" name="scale_d" class="form-control" value="{{ meta.data.scale_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="scale_e">公司规模(300以上)</label>
                        <input type="text" name="scale_e" class="form-control" value="{{ meta.data.scale_e|default(0) }}" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="registered_capital_format_a">注册资金(1~100万)</label>
                        <input type="text" name="registered_capital_format_a" class="form-control" value="{{ meta.data.registered_capital_format_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="registered_capital_format_b">注册资金(101~500万)</label>
                        <input type="text" name="registered_capital_format_b" class="form-control" value="{{ meta.data.registered_capital_format_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="registered_capital_format_c">注册资金(501~1000万)</label>
                        <input type="text" name="registered_capital_format_c" class="form-control" value="{{ meta.data.registered_capital_format_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="registered_capital_format_d">注册资金( 1001~5000万)</label>
                        <input type="text" name="registered_capital_format_d" class="form-control" value="{{ meta.data.registered_capital_format_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="registered_capital_format_e">注册资金(5000万以上)</label>
                        <input type="text" name="registered_capital_format_e" class="form-control" value="{{ meta.data.registered_capital_format_e|default(0) }}" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="investment_abroad_count">对外投资(数量)</label>
                        <input type="text" name="investment_abroad_count" class="form-control" value="{{ meta.data.investment_abroad_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="annual_return_count">公司年报(数量)</label>
                        <input type="text" name="annual_return_count" class="form-control" value="{{ meta.data.annual_return_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="branch">分公司数量(数量)</label>
                        <input type="text" name="branch" class="form-control" value="{{ meta.data.branch|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="company_count">法人公司数量(数量)</label>
                        <input type="text" name="company_count" class="form-control" value="{{ meta.data.company_count|default(0) }}" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#innovate-info">
                    创新力指数
                </a>
            </h4>
        </div>
        <div id="innovate-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="trademark_count_a">商标(1-4)</label>
                        <input type="text" name="trademark_count_a" class="form-control" value="{{ meta.data.trademark_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="trademark_count_b">商标(5-9)</label>
                        <input type="text" name="trademark_count_b" class="form-control" value="{{ meta.data.trademark_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="trademark_count_c">商标(10-49)</label>
                        <input type="text" name="trademark_count_c" class="form-control" value="{{ meta.data.trademark_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="trademark_count_d">商标(50-99)</label>
                        <input type="text" name="trademark_count_d" class="form-control" value="{{ meta.data.trademark_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="trademark_count_e">商标(100-499)</label>
                        <input type="text" name="trademark_count_e" class="form-control" value="{{ meta.data.trademark_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="trademark_count_f">商标(500+)</label>
                        <input type="text" name="trademark_count_f" class="form-control" value="{{ meta.data.trademark_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="patent_count_a">专利(1-4)</label>
                        <input type="text" name="patent_count_a" class="form-control" value="{{ meta.data.patent_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="patent_count_b">专利(5-9)</label>
                        <input type="text" name="patent_count_b" class="form-control" value="{{ meta.data.patent_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="patent_count_c">专利(10-49)</label>
                        <input type="text" name="patent_count_c" class="form-control" value="{{ meta.data.patent_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="patent_count_d">专利(50-99)</label>
                        <input type="text" name="patent_count_d" class="form-control" value="{{ meta.data.patent_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="patent_count_e">专利(100-499)</label>
                        <input type="text" name="patent_count_e" class="form-control" value="{{ meta.data.patent_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="patent_count_f">专利(500+)</label>
                        <input type="text" name="patent_count_f" class="form-control" value="{{ meta.data.patent_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="software_copyright_count_a">软件著作权(1-4)</label>
                        <input type="text" name="software_copyright_count_a" class="form-control" value="{{ meta.data.software_copyright_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="software_copyright_count_b">软件著作权(5-9)</label>
                        <input type="text" name="software_copyright_count_b" class="form-control" value="{{ meta.data.software_copyright_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="software_copyright_count_c">软件著作权(10-49)</label>
                        <input type="text" name="software_copyright_count_c" class="form-control" value="{{ meta.data.software_copyright_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="software_copyright_count_d">软件著作权(50-99)</label>
                        <input type="text" name="software_copyright_count_d" class="form-control" value="{{ meta.data.software_copyright_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="software_copyright_count_e">软件著作权(100-499)</label>
                        <input type="text" name="software_copyright_count_e" class="form-control" value="{{ meta.data.software_copyright_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="software_copyright_count_f">软件著作权(500+)</label>
                        <input type="text" name="software_copyright_count_f" class="form-control" value="{{ meta.data.software_copyright_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="works_copyright_count_a">作品著作权(1-4)</label>
                        <input type="text" name="works_copyright_count_a" class="form-control" value="{{ meta.data.works_copyright_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="works_copyright_count_b">作品著作权(5-9)</label>
                        <input type="text" name="works_copyright_count_b" class="form-control" value="{{ meta.data.works_copyright_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="works_copyright_count_c">作品著作权(10-49)</label>
                        <input type="text" name="works_copyright_count_c" class="form-control" value="{{ meta.data.works_copyright_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="works_copyright_count_d">作品著作权(50-99)</label>
                        <input type="text" name="works_copyright_count_d" class="form-control" value="{{ meta.data.works_copyright_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="works_copyright_count_e">作品著作权(100-499)</label>
                        <input type="text" name="works_copyright_count_e" class="form-control" value="{{ meta.data.works_copyright_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="works_copyright_count_f">作品著作权(500+)</label>
                        <input type="text" name="works_copyright_count_f" class="form-control" value="{{ meta.data.works_copyright_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="icp_count">网站备案(数量)</label>
                        <input type="text" name="icp_count" class="form-control" value="{{ meta.data.icp_count|default(0) }}" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#design-info">
                    设计力指数
                </a>
            </h4>
        </div>
        <div id="design-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="design_center_province">设计中心(省级)</label>
                        <input type="text" name="design_center_province" class="form-control" value="{{ meta.data.design_center_province|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="design_center_county">设计中心(国家级)</label>
                        <input type="text" name="design_center_county" class="form-control" value="{{ meta.data.design_center_county|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="red_star_award_count">红星奖(数量)</label>
                        <input type="text" name="red_star_award_count" class="form-control" value="{{ meta.data.red_star_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="innovative_design_award_count">红棉奖(数量)</label>
                        <input type="text" name="innovative_design_award_count" class="form-control" value="{{ meta.data.innovative_design_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="china_design_award_count">中国好设计奖(数量)</label>
                        <input type="text" name="china_design_award_count" class="form-control" value="{{ meta.data.china_design_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="dia_award_count">中国设计智造大奖</label>
                        <input type="text" name="dia_award_count" class="form-control" value="{{ meta.data.dia_award_count|default(0) }}" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="if_award_count">IF奖(数量)</label>
                        <input type="text" name="if_award_count" class="form-control" value="{{ meta.data.if_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="red_dot_award_count">红点奖(数量)</label>
                        <input type="text" name="red_dot_award_count" class="form-control" value="{{ meta.data.red_dot_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="idea_award_count">IDEA工业设计奖(数量)</label>
                        <input type="text" name="idea_award_count" class="form-control" value="{{ meta.data.idea_award_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="gmark_award_count">G-Mark设计奖(数量)</label>
                        <input type="text" name="gmark_award_count" class="form-control" value="{{ meta.data.gmark_award_count|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="d3in_case_count_a">铟果作品(1-5)</label>
                        <input type="text" name="d3in_case_count_a" class="form-control" value="{{ meta.data.d3in_case_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="d3in_case_count_b">铟果作品(6-20)</label>
                        <input type="text" name="d3in_case_count_b" class="form-control" value="{{ meta.data.d3in_case_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="d3in_case_count_c">铟果作品(21-50)</label>
                        <input type="text" name="d3in_case_count_c" class="form-control" value="{{ meta.data.d3in_case_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="d3in_case_count_d">铟果作品(51-100)</label>
                        <input type="text" name="d3in_case_count_d" class="form-control" value="{{ meta.data.d3in_case_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="d3in_case_count_e">铟果作品(101-500)</label>
                        <input type="text" name="d3in_case_count_e" class="form-control" value="{{ meta.data.d3in_case_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="d3in_case_count_f">铟果作品(501+)</label>
                        <input type="text" name="d3in_case_count_f" class="form-control" value="{{ meta.data.d3in_case_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="design_case_count">抓取作品(数量)</label>
                        <input type="text" name="design_case_count" class="form-control" value="{{ meta.data.design_case_count|default(0) }}" placeholder="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#effect-info">
                    影响力指数
                </a>
            </h4>
        </div>
        <div id="effect-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="is_high_tech">高新企业</label>
                        <input type="text" name="is_high_tech" class="form-control" value="{{ meta.data.is_high_tech|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_score">天眼查评分(数量)</label>
                        <input type="text" name="ty_score" class="form-control" value="{{ meta.data.ty_score|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="certification_count">资质证书(数量)</label>
                        <input type="text" name="certification_count" class="form-control" value="{{ meta.data.certification_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="wx_public_count">公号(数量)</label>
                        <input type="text" name="wx_public_count" class="form-control" value="{{ meta.data.wx_public_count|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(<100)</label>
                        <input type="text" name="ty_view_count_a" class="form-control" value="{{ meta.data.ty_view_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(100-500)</label>
                        <input type="text" name="ty_view_count_b" class="form-control" value="{{ meta.data.ty_view_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(500-2000)</label>
                        <input type="text" name="ty_view_count_c" class="form-control" value="{{ meta.data.ty_view_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(2000-5000)</label>
                        <input type="text" name="ty_view_count_d" class="form-control" value="{{ meta.data.ty_view_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(5000-10000)</label>
                        <input type="text" name="ty_view_count_e" class="form-control" value="{{ meta.data.ty_view_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="ty_view_count">天眼浏览(>10000)</label>
                        <input type="text" name="ty_view_count_f" class="form-control" value="{{ meta.data.ty_view_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="bd_hot_count_a">百度相关结果(<1万)</label>
                        <input type="text" name="bd_hot_count_a" class="form-control" value="{{ meta.data.bd_hot_count_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bd_hot_count_b">百度相关结果(1-10万)</label>
                        <input type="text" name="bd_hot_count_b" class="form-control" value="{{ meta.data.bd_hot_count_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bd_hot_count_c">百度相关结果(10-50万)</label>
                        <input type="text" name="bd_hot_count_c" class="form-control" value="{{ meta.data.bd_hot_count_c|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bd_hot_count_d">百度相关结果(50-100万)</label>
                        <input type="text" name="bd_hot_count_d" class="form-control" value="{{ meta.data.bd_hot_count_d|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bd_hot_count_e">百度相关结果(100-500万)</label>
                        <input type="text" name="bd_hot_count_e" class="form-control" value="{{ meta.data.bd_hot_count_e|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="bd_hot_count_f">百度相关结果(>500万)</label>
                        <input type="text" name="bd_hot_count_f" class="form-control" value="{{ meta.data.bd_hot_count_f|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="cida_credit_rating_a">工会认证(A)</label>
                        <input type="text" name="cida_credit_rating_a" class="form-control" value="{{ meta.data.cida_credit_rating_a|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="cida_credit_rating_b">工会认证(AA)</label>
                        <input type="text" name="cida_credit_rating_b" class="form-control" value="{{ meta.data.cida_credit_rating_b|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="cida_credit_rating_c">工会认证(AAA)</label>
                        <input type="text" name="cida_credit_rating_c" class="form-control" value="{{ meta.data.cida_credit_rating_c|default(0) }}" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#credit-info">
                    社会信誉
                </a>
            </h4>
        </div>
        <div id="credit-info" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="action_at_law_count">法律诉讼(数量)</label>
                        <input type="text" name="action_at_law_count" class="form-control" value="{{ meta.data.action_at_law_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="court_announcement_count">法院公告(数量)</label>
                        <input type="text" name="court_announcement_count" class="form-control" value="{{ meta.data.court_announcement_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="dishonest_person_count">失信人(数量)</label>
                        <input type="text" name="dishonest_person_count" class="form-control" value="{{ meta.data.dishonest_person_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="person_subject_count">被执行人(数量)</label>
                        <input type="text" name="person_subject_count" class="form-control" value="{{ meta.data.person_subject_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="announcement_court_count">开庭公告(数量)</label>
                        <input type="text" name="announcement_court_count" class="form-control" value="{{ meta.data.announcement_court_count|default(0) }}" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="abnormal_operation_count">经营异常</label>
                        <input type="text" name="abnormal_operation_count" class="form-control" value="{{ meta.data.abnormal_operation_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="administrative_penalty_count">行政处罚</label>
                        <input type="text" name="administrative_penalty_count" class="form-control" value="{{ meta.data.administrative_penalty_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="break_law_count">严重违法</label>
                        <input type="text" name="break_law_count" class="form-control" value="{{ meta.data.break_law_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="equity_pledged_count">股权出质</label>
                        <input type="text" name="equity_pledged_count" class="form-control" value="{{ meta.data.equity_pledged_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="chattel_mortgage_count">动产抵押</label>
                        <input type="text" name="chattel_mortgage_count" class="form-control" value="{{ meta.data.chattel_mortgage_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="tax_notice_count">欠税公告</label>
                        <input type="text" name="tax_notice_count" class="form-control" value="{{ meta.data.tax_notice_count|default(0) }}" placeholder="">
                    </div>
                    <div class="col-xs-2">
                        <label for="judicial_sale_count">司法拍卖</label>
                        <input type="text" name="judicial_sale_count" class="form-control" value="{{ meta.data.judicial_sale_count|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="tax_rating_count">税务评级(数量)</label>
                        <input type="text" name="tax_rating_count" class="form-control" value="{{ meta.data.tax_rating_count|default(0) }}" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2">
                        <label for="tax_rating_count">入驻加分</label>
                        <input type="text" name="credit_enter_extra" class="form-control" value="{{ meta.data.credit_enter_extra|default(0) }}" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


            <!--
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    </div>
                </div>
            </div>
            -->

            <!--
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="account">状态</label>
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.status==0 %}checked="checked"{%endif%} name="status" value="0">
                            禁用
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.status==1 %}checked="checked"{%endif%} name="status" value="1">
                            启用
                        </label>
                    </div>
                </div>
            </div>
            -->

            <div class="form-group">
                <div class="col-sm-10">
                    <a href="{{ url_for('admin.design_company_list') }}" class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
