{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}
    $('.status-handle').on('click', 'a', function(){
        var id = $(this).data('id');
        var evt = $(this).data('evt');
        var url = "{{ url_for('admin.design_company_set_status') }}";
        $.post(url, {id: id, status: evt}, function(rs){
            if (rs.success) {
                var statusLabel = evt == 0 ? false : true
                var render = phenix.ajax_render('#admin-status-label-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-label').html(render)
                var render = phenix.ajax_render('#admin-status-handle-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-handle').html(render)
            }else{
                alert(rs.message)
            }
        })
    });


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_company_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="fl">
        <div class="navbar-form navbar-left options-bar">
            <div class="form-group">
                <a href="{{ url_for('admin.design_company_submit') }}" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i> 创建
                </a>
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.design_company_delete') }}" class="btn btn-default btn-sm ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>

    <div class="fr">
        <form class="navbar-form navbar-left options-bar" role="search" action="{{ url_for('admin.design_company_list') }}" method="GET" id="search-form">
          <input type="hidden" name="status" value="{{ request.args.get('status', '') }}" />
          <div class="form-group">
            <input class="form-control input-sm" type="text" name="q" value="{{ request.args.get('q', '') }}" class="form-control" placeholder="关键字...">
          </div>

          <div class="form-group">
              <select name="t" class="form-control input-sm">
                  <option value="1" {% if request.args.get('t') == '1' %}selected="selected"{%endif%}>编号</option>
                  <option value="2" {% if request.args.get('t') == '2' %}selected="selected"{%endif%}>名称</option>
              </select>
          </div>

          <button type="submit" class="btn btn-default btn-sm">搜索</button>
        </form>
    </div>


    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>
        </th>
        <th>LOGO</th>
        <th>公司信息</th>
        <th>入驻</th>
        <th>奖项信息</th>
        <th>抓取信息</th>
        <th>完善度</th>
        <th>状态</th>
        <th>创建/抓取时间</th>
        <th>操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" class="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    {% if d.logo_url %}
                        <img src="{{ d.logo_url }}" width="80" />
                    {% else %}
                        <img src="{{ url_for('static', filename='images/avatar_100.png') }}" width="80" />
                    {% endif %}
                </td>
                <td>
                    <p>简称: {{ d.short_name }}</p>
                    <p>名称: {{ d.name }}</p>
                    <p>网址: <a href="{{ d.url }}" target="_blank">{{ d.url }}</a></p>
                    <p>编号: {{ d.number }}</p>
                    <p>头衔: 
                    {% if d.is_high_tech %}<span>高新企业</span>{%endif%} | 
                    {% if d.is_design_center > 0 %}<span>设计中心: {% if d.is_design_center == 1 %}省级{%endif%}{% if d.is_design_center == 2 %}国家级{%endif%}</span>{%endif%} | 
                    {% if d.cida_credit_rating > 0 %}<span>工会认证: {% if d.cida_credit_rating == 1 %}A{%endif%}{% if d.cida_credit_rating == 2 %}AA{%endif%}{% if d.cida_credit_rating == 3 %}AAA{%endif%}</span>{%endif%} | 
                    
                    </p>
                </td>

                <td>
                    {% if d.d3ing_id > 0 %}
                        <span class="label label-success">是</span>
                    {% else %}
                        <span class="label label-danger">否</span>
                    {% endif %}
                </td>
                <td>
                    <p>红星奖：{{ d.red_star_award_count }}</p>
                    <p>红棉奖：{{ d.innovative_design_award_count }}</p>
                    <p>中国好设计奖：{{ d.china_design_award_count }}</p>
                    <p>中国设计智造奖: {{ d.dia_award_count }} </p>
                    <p>IF奖：{{ d.if_award_count }}</p>
                    <p>红点奖：{{ d.red_dot_award_count }}</p>
                    <p>美国IDEA工业设计奖：{{ d.idea_award_count }}</p>
                    <p>作品数量：{{ d.design_case_count }}</p>
                </td>
                <td>
                    <p>抓取次数: {{ d.craw_count }}</p>
                    <p>负责人: {{ d.craw_user }}</p>                
                    {% if d.last_on %}
                        <p>抓取时间: {{ d.last_on | date("%Y-%m-%d") }}</p>
                    {%endif%}
                </td>
                <td>{{ d.perfect_degree }}</td>
                <td>
                    <p class="status-label">
                        {% if d.status==0 %}
                            <span class="label label-danger">禁用</span>
                        {%endif%}
                        {% if d.status==1 %}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </p>
                </td>
                <td>
                    <p>{{ d.created_at | date("%Y-%m-%d") }}</p>
                </td>
                <td>
                    <p class="status-handle">
                        {% if d.status==0 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="1">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="0">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.design_company_submit', id=d._id) }}">编辑</a>
                        |
                        <a href="{{ url_for('admin.design_company_delete', ids=d._id) }}" class="confirm-request">删除</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}

</div>

{% endblock %}

{% block templates %}
  {% include "mustache/admin_status.mustache" %}
{% endblock %}

