{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">

    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

  $("#design_company-form").validate({
    //ignore: ".ignore",
    //debug: true,

    rules: {
        name: "required"
    },

    messages: {
        name: "请输入名称"
    },
    submitHandler: function(form) {
      $(form).ajaxSubmit({
        dataType: 'json',
        beforeSubmit: function(){
          //alert('before'); 
        },
        success: function(data){
          if(data.success){
            window.location.href=data.redirect_to;
          }else{
            alert(data.message);
          }
        }
      });
    }
   });

   // 选择下拉菜单事件给site_type赋值
   $("select[name='site_from']").change(function(){
        var type = $(this).find('option:selected').data('type');
        $("input[name='site_type']").val(type);
   });

   // 初始化


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_company_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="ph-form">
        <form class="form-horizontal" method="POST" action="{{ url_for('admin.design_company_save') }}" id="design_company-form">
            {{ form.csrf_token }}
            <input type="hidden" name="id" value="{{ meta.data._id }}" />
            <input type="hidden" name="referer_url" value="{{ meta.referer_url }}" />

            <div class="form-group">
                <div class="col-xs-4">
                    <label for="name">名称</label>
                    <input type="text" name="name" class="form-control" value="{{ meta.data.name }}" placeholder="公司全称">
                </div>
                <div class="col-xs-4">
                    <label for="short_name">短名称</label>
                    <input type="text" name="short_name" class="form-control" value="{{ meta.data.short_name }}" placeholder="公司简称">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <label for="url">网址</label>
                    <input type="text" name="url" class="form-control" value="{{ meta.data.url }}" placeholder="网址">
                </div>
                <div class="col-xs-4">
                    <label for="logo_url">logo地址</label>
                    <input type="text" name="logo_url" class="form-control" value="{{ meta.data.logo_url }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="tags">标签</label>
                    <input type="text" name="tags" class="form-control" value="{{ meta.data.tags_label }}" placeholder="标签">
                    <div class="description">多个标签用','分隔</div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label for="province">省/直辖市/自治区</label>
                    <input type="text" name="province" class="form-control" value="{{ meta.data.province }}" placeholder="">
                </div>
                <div class="col-xs-3">
                    <label for="city">城市</label>
                    <input type="text" name="city" class="form-control" value="{{ meta.data.city }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="zip_code">邮编</label>
                    <input type="text" name="zip_code" class="form-control" value="{{ meta.data.zip_code }}" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label for="address">详细地址</label>
                    <input type="text" name="address" class="form-control" value="{{ meta.data.address }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-2">
                    <label for="contact_name">联系人</label>
                    <input type="text" name="contact_name" class="form-control" value="{{ meta.data.contact_name }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="contact_phone">联系人电话</label>
                    <input type="text" name="contact_phone" class="form-control" value="{{ meta.data.contact_phone }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="contact_email">邮箱</label>
                    <input type="text" name="contact_email" class="form-control" value="{{ meta.data.contact_email }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="tel">公司电话</label>
                    <input type="text" name="tel" class="form-control" value="{{ meta.data.tel }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label for="scale">公司规模</label>
                    <select name="scale" class="form-control">
                        {% for d in meta.company_scale_options %}
                        <option value="{{ d.id }}" data-type="" {% if meta.data.scale==d.id %}selected="selected"{%endif%}>{{ d.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-3">
                    <label for="scale_label">说明</label>
                    <input type="text" name="scale_label" class="form-control" value="{{ meta.data.scale_label }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label for="nature">公司性质</label>
                    <select name="nature" class="form-control">
                        {% for d in meta.company_nature_options %}
                        <option value="{{ d.id }}" data-type="" {% if meta.data.nature==d.id %}selected="selected"{%endif%}>{{ d.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-3">
                    <label for="nature_label">说明</label>
                    <input type="text" name="nature_label" class="form-control" value="{{ meta.data.nature_label }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-2">
                    <label for="branch">分公司</label>
                    <input type="text" name="branch" class="form-control" value="{{ meta.data.branch }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="wx_public_no">公众号ID</label>
                    <input type="text" name="wx_public_no" class="form-control" value="{{ meta.data.wx_public_no }}" placeholder="">
                </div>
                <div class="col-xs-2">
                    <label for="wx_public_no">公众号名称</label>
                    <input type="text" name="wx_public" class="form-control" value="{{ meta.data.wx_public }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10">
                    <label for="advantage">亮点、优势</label>
                    <textarea class="form-control" name="advantage" rows="3">{{ meta.data.advantage|default('') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10">
                    <label for="description">简述</label>
                    <textarea class="form-control" name="description" rows="3">{{ meta.data.description|default('') }}</textarea>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-10">
                    <label for="remark">备注</label>
                    <textarea class="form-control" name="remark" rows="3">{{ meta.data.remark|default('') }}</textarea>
                    <div class="description">人工备注</div>
                </div>
            </div>

            <!--
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    </div>
                </div>
            </div>
            -->

            <!--
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="account">状态</label>
                    <div class="">
                        <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.status==0 %}checked="checked"{%endif%} name="status" value="0">
                            禁用
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.status==1 %}checked="checked"{%endif%} name="status" value="1">
                            启用
                        </label>
                    </div>
                </div>
            </div>
            -->

            <div class="form-group">
                <div class="col-sm-10">
                    <a href="{{ url_for('admin.design_company_list') }}" class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
