{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">

    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}

  $("#block-form").validate({
    //ignore: ".ignore",
    //debug: true,

    rules: {
        mark: {
            required: true,
        },
        name: "required"
    },

    messages: {
        mark: {
            required: "请输入唯一标识",
        },
        name: "请输入名称"
    },
    submitHandler: function(form) {
      $(form).ajaxSubmit({
        dataType: 'json',
        beforeSubmit: function(){
          //alert('before'); 
        },
        success: function(data){
          if(data.success){
            window.location.href=data.redirect_to;
          }else{
            alert(data.message);
          }
        }
      });
    }
   });

{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.block_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="ph-form">
        <form class="form-horizontal" method="POST" action="{{ url_for('admin.block_save') }}" id="block-form">
            {{ form.csrf_token }}
            <input type="hidden" name="id" value="{{ meta.data._id }}" />
            <input type="hidden" name="referer_url" value="{{ meta.referer_url }}" />
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="name">名称</label>
                    <input type="text" name="name" class="form-control" value="{{ meta.data.name }}" placeholder="名称">
                </div>
                <div class="col-xs-4">
                    <label for="mark">标识</label>
                    <input type="text" name="mark" class="form-control" value="{{ meta.data.mark }}" placeholder="标识">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="code">代码域</label>
                    <textarea class="form-control" name="code" rows="3">{{ meta.data.code|default('') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="content">内容</label>
                    <textarea class="form-control" name="content" rows="3">{{ meta.data.content|default('') }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label for="remark">备注</label>
                    <textarea class="form-control" name="remark" rows="3">{{ meta.data.remark|default('') }}</textarea>
                </div>
            </div>

              <div class="form-group">
                  <div class="col-xs-4">
                      <label for="role">权重</label>
                      <div class="">
                          <label class="checkbox-inline">
                              <input type="radio" {% if meta.data.role==1 %}checked="checked"{%endif%} name="role" value="1">
                              普通
                          </label>
                          <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.role==5 %}checked="checked"{%endif%} {% if not g.is_admin %}disabled{%endif%} name="role" value="5">
                              管理员
                          </label>
                          <label class="checkbox-inline">
                            <input type="radio" {% if meta.data.role==8 %}checked="checked"{%endif%} {% if not g.is_system %}disabled{%endif%} name="role" value="8">
                              系统管理员
                          </label>
                      </div>
                  </div>
              </div>

            <!--
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    </div>
                </div>
            </div>
            -->

            <div class="form-group">
                <div class="col-sm-10">
                    <a href="{{ url_for('admin.block_list') }}" class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
