{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}
    $('.status-handle').on('click', 'a', function(){
        var id = $(this).data('id');
        var evt = $(this).data('evt');
        var url = "{{ url_for('admin.design_case_set_status') }}";
        $.post(url, {id: id, status: evt}, function(rs){
            if (rs.success) {
                var statusLabel = evt == 0 ? false : true
                var render = phenix.ajax_render('#admin-status-label-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-label').html(render)
                var render = phenix.ajax_render('#admin-status-handle-tpl', {id: id, status: evt, statusLabel: statusLabel})
                $('#item-'+id).find('.status-handle').html(render)
            }else{
                alert(rs.message)
            }
        })
    });


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.design_case_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="fl">
        <div class="navbar-form navbar-left options-bar">
            <div class="form-group">
                <a href="{{ url_for('admin.design_case_submit') }}" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i> 创建
                </a>
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.design_case_delete') }}" class="btn btn-default btn-sm ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>


    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>
        </th>
        <th>封面</th>
        <th>标题</th>
        <th>类型</th>
        <th>创建用户</th>
        <th>奖项信息</th>
        <th>公司信息</th>
        <th>关联ID</th>
        <th>状态</th>
        <th>创建</th>
        <th>操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" class="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    {% if d.cover_url %}
                        <img src="{{ d.cover_url }}" width="80" />
                    {% else %}
                        <img src="{{ url_for('static', filename='images/avatar_100.png') }}" width="80" />
                    {% endif %}
                </td>
                <td>
                    <p>名称: {{ d.title }}</p>
                </td>

                <td>{{ d.type }}</td>
                <td>{{ d.user_id }}</td>
                <td>
                  <p>奖项名称: {{ d.prize_label }}</p>
                  <p>奖项级别: {{ d.prize_level }}</p>
                  <p>获奖时间: {{ d.award_time }}</p>
                  <p>设计师: {{ d.designer_name }}</p>
                </td>
                <td>
                  <p>名称: {{ d.company_name }}</p>
                  <p>英文名称: {{ d.en_company_name }}</p>
                  <p>是否上市: {{ d.is_listed }}</p>
                </td>
                <td>{{ d.target_id }}</td>
                <td>
                    <p class="status-label">
                        {% if d.status==0 %}
                            <span class="label label-danger">禁用</span>
                        {%endif%}
                        {% if d.status==1 %}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </p>
                </td>
                <td>
                    <p>{{ d.created_at | date("%Y-%m-%d") }}</p>
                </td>
                <td>
                    <p class="status-handle">
                        {% if d.status==0 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="1">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="javascript:void(0);" data-id="{{ d._id }}" data-evt="0">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.design_case_submit', id=d._id) }}">编辑</a>
                        |
                        <a href="{{ url_for('admin.design_case_delete', ids=d._id) }}" class="confirm-request">删除</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}

</div>

{% endblock %}

{% block templates %}
  {% include "mustache/admin_status.mustache" %}
{% endblock %}

