{% extends "layout/admin.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block layout_css %}
    <style type="text/css">


    </style>
{% endblock %}

{% block layout_js %}
    <script type="text/javascript">

  </script>
{% endblock %}

{% block jquery %}


{% endblock %}

{% block layout_slider %}
{%endblock%}

{% block content %}

<div>

    <div class="navbar navbar-default border-n nav-stab">
        <div class="navbar-header">
            <div class="navbar-brand">
                {{ meta.title }}
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-list">
                <li role="presentation" class="{{ meta.css_all }}"><a href="{{ url_for('admin.site_list') }}">全部</a></li>
            </ul>
        </div>
    </div>


    <div class="">
        <div class="form-inline">
            <div class="form-group">
                <a href="{{ url_for('admin.site_submit') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i> 创建
                </a>
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.site_delete') }}" class="btn btn-default ajax-batch-delete">
                    <i class="glyphicon glyphicon-trash"></i> 删除
                </a>
            </div>

        </div>
    </div>


    <table class="table table-striped ph-list">
        <th>
            <div class="checkbox list-checkbox">
              <label>
                  <input type="checkbox" id="check-all" value="" aria-label="...">
              </label>
            </div>
        </th>
        <th>标识/名称</th>
        <th>网址/最后抓取地址</th>
        <th>来源/模式</th>
        <th>创建用户</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
        {% for d in meta.data %}
            <tr id="item-{{ d._id }}">
                <td>
                    <div class="checkbox list-checkbox">
                      <label>
                          <input type="checkbox" name="check-item" class="check-item" value="{{ d._id }}" aria-label="...">
                      </label>
                    </div>
                </td>
                <td>
                    <p>[{{ d.mark }}]</p>
                    <p>{{ d.name }}</p>
                </td>
                <td>
                  <p><a href="{{ d.url }}" target="_blank">{{ d.url }}</a></p>
                  <p><a href="{{ d.last_url }}" target="_blank">{{ d.last_url }}</a></p>
                </td>
                <td>
                    {{ d.site_from_label }}-[{{ d.site_type_label }}]
                </td>
                <td>{{ d.user_id }}</td>
                <td>
                    {% if d.status==0 %}
                        <span class="label label-danger">禁用</span>
                    {%endif%}
                    {% if d.status==1 %}
                        <span class="label label-success">启用</span>
                    {%endif%}
                </td>
                <td>{{ d.created_at | date("%Y-%m-%d") }}</td>
                <td>
                    <p>
                        {% if d.status==0 %}
                            <a href="{{ url_for('admin.site_submit', id=d._id) }}">启用</a>
                        {%endif%}
                        {% if d.status==1 %}
                            <a href="{{ url_for('admin.site_submit', id=d._id) }}">禁用</a>
                        {%endif%}                   
                    </p>
                    <p>
                        <a href="{{ url_for('admin.site_submit', id=d._id) }}">编辑</a>
                        |
                        <a href="{{ url_for('admin.site_delete', ids=d._id) }}" class="confirm-request">删除</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--分页-->
    {{ meta.pager|safe }}

</div>


{% endblock %}
